<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
    <script src="../Path/angular-1.7.5.min.js"></script>
</head>

<body>
    <!-- ng-app, ng-model, directives {{expression}} ng-init, ng-repeat -->
    <input type="text" ng-model="nama" placeholder="First Name">
    <input type="text" ng-model="lastname" placeholder="Last Name">
    <br>
    {{nama + ' ' + lastname}}
    <br>
    <div ng-init="daftarNama=[{nama: 'Souma', kota: 'Tokyo'},
        {nama: 'Nakiri', kota: 'Shibuya'},
        {nama: 'Joichiro', kota: 'Nihongo'}
    ]"></div>
    <input type="text" ng-model="hasil">
    <ul>
        <li ng-repeat="dn in daftarNama | filter:hasil | orderBy: 'nama'">{{'Nama: ' + dn.nama + ' Kota: ' +
            dn.kota | uppercase}}</li>
    </ul>
</body>

</html>