<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directives and Data Bindings</title>
    <script src="../Path/angular-1.7.5.min.js"></script>
</head>

<body>
    <!-- ng-app, ng-model, directives {{expression}} ng-init, ng-repeat -->
    <input type="text" ng-model="nama" placeholder="First Name">
    <input type="text" ng-model="lastname" placeholder="Last Name">
    <br>
    {{nama + ' ' + lastname}}
    <br>
    <div ng-init="daftarNama=['Souma', 'Nakiri', 'Kisana']"></div>
    <ul>
        <li ng-repeat="dn in daftarNama">{{dn}}</li>
    </ul>
</body>

</html>