<h3>Ini index 2</h3>
Nama Baru:
<input type="text" ng-model="databaru.nama"><br />
Kota Baru:
<input type="text" ng-model="databaru.kota"><br />
<button ng-click="tambahData()"> Tambah Data </button><br />