<!DOCTYPE html>
<html ng-app="testApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kirim Data</title>
    <script src="../Path/angular-1.7.5.min.js"></script>
    <script src="../Path/angular-route-1.7.5.min.js"></script>
</head>

<body>
    <!-- ng-app, ng-model, directives {{expression}} ng-init, ng-repeat -->
    <!-- controller - $scope - View -->
    <header-title></header-title>
    <div ng-view></div>
    <div part-title></div>
    <div footer-gan></div>
    <script src="script.js"></script>
</body>

</html>