<!DOCTYPE html>
<html ng-app="testApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controller</title>
    <script src="../Path/angular-1.7.5.min.js"></script>
</head>

<body>
    <!-- ng-app, ng-model, directives {{expression}} ng-init, ng-repeat -->
    <!-- controller - $scope - View -->
    <input type="text" ng-model="nama" placeholder="First Name">
    <input type="text" ng-model="lastname" placeholder="Last Name">
    <br>
    {{nama + ' ' + lastname}}
    <br>
    <div ng-controller="dataOrang">
        <input type="text" ng-model="hasil">
        <ul>
            <li ng-repeat="dn in daftarNama | filter:hasil | orderBy: 'nama'">{{'Nama: ' + dn.nama + ' Kota: ' +
                dn.kota | uppercase}}</li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>

</html>